#header {
  background-image: url("https://i.imgur.com/kG9ngF6.png" );
  background-size: cover;
 background-repeat: no-repeat;
 height: auto;
}

.navbar {
  background-color: white;
}

.navbar-toggler, .navbar-toggler-icon {
  background-color: black;
}
a, .navbar-brand {
  color: black;
  font-family: Montserrat;
  font-weight: 900;
}

.small-logo-image {
  border-radius: 100%;
  width:30px;
  margin: 5px
}
.logo-image {
  display: block;
  border-radius: 100%;
  width: 80%;
  margin: 75px auto;
}

.features-image {
  display: block;
  margin: auto;
  border-radius: 150px;
  width: 80%;
}




.lv-image {
  width:30px;
  margin: 10px;
  background: none;
  display: inline-block;
  position: relative;
  float:left;
}
#description-p {
  display: inline;
}

h2 {
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;

}
.menu-section {
  background-color: #f7fbe1;
}
h3 {
  color: black;
  font-family: Lobster;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 120px;
}

h4 {
  text-align: center;
  font-family: Lobster;
  padding: 10px;
  font-weight: bolder;


}

li h4{
  text-align: left;

}
li {

}


.lets-eat {
  font-family: Lobster;
  margin-top: 50px;
  margin-left: 50px;
}

.menu-header {
  background-color: black;
  color: white;
  font-family: Lobster;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.menu-image {
  border-radius: 10px;
  height: auto;
  width: 100%;
  height: auto;
  margin: 10px 0 0 10px;
}

.menu-button {
  display: block;
  text-align: center;
  margin: 10px auto 10px auto;
  width: 65%;
  background: black;
  margin-bottom: 50px;


}



body {
background-color: #fffafa;
}

#menu-des {
  margin-top: 100px;
  text-align: center;
}

.menu-list {
  height: auto;
  width:90%;
  display: block;
  margin: auto;
  background-color: black;
}

.aboutus-h4 {
  margin-top:50px;
  text-align: left;
}

.aboutcard {
  color: white;
  padding: 10px;
  font-family: Lobster;
}

.features-carousel-item {
  border-radius: 150px;
  width: 98%;
}

.testimonial-head {
  display:inline;
  margin : 25px 0px 50px 50px;
  padding: 20px 0px;
  text-align: center;
}

.carousel-inner img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.specialtest {
  background-color: black;
  color:yellow;
  font-family: Montserrat;
  font-weight: 900px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
    width: 50px;
  color: black;
    outline: black;
    background-color: Black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.form {
text-align: center;
line-height: 2;
}


.submit-but {
  margin-left: 50px;
}

.address {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 15px 15px 15px 15px;
}

.bottom-container {
  background-color: #393e46;
  text-align: center;
  height: auto;
}

.footer-image {
  width: 30px;
  display: inline-block;
  height: auto;
margin: auto;

}


a {
  margin: auto;
padding: 55px;
margin:20px;
margin-bottom: 0px;
}

.copyright {
  padding: 20px;
  font-family: Lobster;
  color:white;
}
